{% extends "base.html" %}
{% block content %}
<h1>Voter Lookup</h1>

<p>Voter Lookup service finds the state, assembly constituency and pooling booth given a voterid.</p>

<div class="well">
	<p>Enter a voter ID in the textbox below to find where it belongs.</p>
	<br/>
	<form class="form-inline">
	  <div class="form-group">
	    <input type="text" class="form-control" name="voterid" id="voterid" placeholder="Enter Voter ID" value="{{voterid or ''}}">
	  </div>
	  <button type="submit" id="btn-lookup" class="btn btn-default">Look up</button>
	</form>
	<div id="response" style="display: none; margin-top: 20px;">
		<h3>Response</h3>
		<pre style="background: white;"></pre>
		<p id="url"><a href="#"></a></p>
	</div>
</div>
<script>
	$(function() {
		$("#btn-lookup").click(function(event) {
			var voterid = $("#voterid").val();
			event.preventDefault();

			if (voterid == "") {
				$("#response").hide();
				return;
			}
			var url = document.location + "search?voterid=" + voterid;

			$.getJSON("/search", {"voterid": voterid}, function(data) {
				$("#response")
					.show()
					.find("pre")
					.html(JSON.stringify(data, null, '    '));

				$("#url a").attr("href", url).html(url);
			});
		});
	});
</script>

<h2>API</h2>

See <a href="https://github.com/anandology/voter-lookup">Readme</a> for API details.

{% endblock %}